<a class="js-app-link grid-link" aria-label="View {{firstName}} {{lastName}} profile" id-data="{{id}}" href="view/{{id}}">
    <span class="grid-avatar-image"><img src="http://www.fillmurray.com/{{image}}.jpg" alt="{{firstName}} {{lastName}} profile image" /></span>

    <span class="grid-name">
       {{firstName}} {{lastName}}
    </span>


</a>

<span class="nav-icons">
    <button class="js-app-link" id-data="{{id}}" href="edit/{{id}}"><img class="grid-icons" src="../static/img/edit-icon.svg" alt="Edit {{firstName}} {{lastName}}" /></button>
    <button class="js-del-contact" id-data="{{id}}" href="#"><img src="../static/img/delete-icon.svg" alt="Delete {{firstName}} {{lastName}}" /></button>
</span>

